@use '../../styles/var' as *;
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.boxDelete {
    width: 758px;
    height: 436px;
    margin-top: 50px;
    margin-left: 134px;
    border-radius: 10px;
    background-color: $tertiary-color;
    color: $secondary-color;

    h1 {
        font-family: raleway;
        font-size: 35px;
        margin-left: 150px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    p {
       font-family: raleway;
       font-weight: $font-regular;
       font-size: 25px;
       padding-top: 20px;
       margin-left: 50px;
    }

    .botoes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 200px 50px 10px 50px;
        
    }

    .no {
        width: 268px;
        height: 77px;
        border-radius: 10px;
        border: none;
        background-color: $primary-color;
        color: $tertiary-color;
        font-family: raleway;
        font-size: 30px;
        font-weight: $font-semibold;
        cursor: pointer;
        
    }

    .yes {
        width: 268px;
        height: 77px;
        border-radius: 10px;
        background-color: $tertiary-color;
        color: $secondary-color;
        font-family: raleway;
        font-size: 30px;
        font-weight: $font-semibold;
        border: 1px solid black;
        cursor: pointer;
    }
}